html,
body {
  font-size: 14px;
  padding: 0;
}

table.table {
  tr {

    td,
    th {
      vertical-align: middle;
      text-align: center;
    }
  }
}

@for $i from 5 through 100 {
  .h-#{$i}p {
    height: $i * 1%;
  }

  .w-#{$i}p {
    width: $i * 1%;
  }
}
